<div class="flex-row-container">

    <!-- SEARCH & SEARCH RESULTS -->
    <div class="flex-column-container search-container">
        <!-- SEARCH -->
        <!-- <input [(ngModel)]="query" (ngModelChange)="debounceSearch()"> -->
        <input [(ngModel)]="query" (keyup)="debounceSearch($event)">

        <!-- SEARCH RESULTS -->
        <div class="search-results">
            <yt-search-result
                *ngFor="let video of videos"
                (click)="loadVideo(video.videoId)"
                [ytVideoMetadata]="video"
            ></yt-search-result>
        </div>
    </div>
    
    <!-- PLAYER -->
    <div class="">
        <youtube-player-component
            [videoId]="videoId"
            [getMetaDataReq]="getMetaDataReq"
            (videoMetaData)="handleVideoMetaData($event)"
        ></youtube-player-component>
    </div>

    <button (click)="getVideoMetaData(false)">Add To Playlist</button>
    <button (click)="getVideoMetaData(true)">Add As Transition</button>

    <video-list [newVideo]="newVideoSelection"></video-list>
</div>