.flex-row-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-1 {
  flex: 1;
}

.playlist-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;


  .playlist-header-image {
    min-width: 160px;
    min-height: 160px;
    margin-right: 2em;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .playlist-visibility {
    margin: 0;
  }

  .playlist-title {
    margin: 0;
    font-size: 5em;
  }
}

.playlist-container {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.create-page-actions-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  min-height: 2em;
  margin-bottom: 1em;

  .medium-action-btn {
    font-size: 1.5em;
  }
}

.playlist-add-more-container {
  width: auto;

  .search-container {
    width: 640px;
    margin: 0 2em;
  
    .search-action-suggestion {
      margin: 0;
      margin-bottom: 0.5em;
      font-size: 2em;
    }

    .search-input {
      width: 500px;
      margin-bottom: 1em;
      font-size: 1.4em;
      white-space: normal;
    }
  
    .search-results-container {
      width: 100%;

      .search-result-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 500px;
      }

      .search-result-actions-container {
        display: flex;
        flex-direction: column;
        width: 120px;
        text-align: right;

        .medium-action-btn {
          height: 32px;
          width: 60px;
          border-radius: 999px;
        }
      }
    }
  }
  
  .yt-player-container {
    width: 640px;
    display: flex;
    flex-direction: column;
    margin-right: 2em;
  
    .yt-player-actions-container {
      display: flex;
      flex-direction: row;
      justify-content: right;
    }
  }
}
