.flex-row-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-1 {
  flex: 1;
}

.playlist-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;


  .playlist-header-image {
    min-width: 160px;
    min-height: 160px;
    margin-right: 2em;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .playlist-visibility {
    margin: 0;
  }

  .playlist-title {
    margin: 0;
    font-size: 5em;
  }
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

// .create-page-actions-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: right;
//   min-height: 2em;
//   margin-bottom: 1em;

//   .medium-action-btn {
//     font-size: 1.5em;
//   }
// }

.playlist-container {
  width: auto;
  margin-right: 2em;

  .playlist-current-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 2em;
    max-height: 325px;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 2px 2px 4px darkgray;
  }

  .search-container {
    width: 640px;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 2px 2px 4px darkgray;
  
    .search-action-suggestion {
      margin: 0;
      margin-bottom: 0.5em;
      font-size: 2em;
    }

    .search-input {
      width: 500px;
      margin-bottom: 1em;
      font-size: 1.4em;
      white-space: normal;
    }
  
    .search-results-container {
      width: 100%;

      .search-result-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 500px;

        &:hover   .search-result-actions-container {
          display: flex !important;
        }
      }

      .search-result-actions-container {
        display: none;
        flex-direction: column;
        width: 120px;
        text-align: right;

        .medium-action-btn {
          height: 32px;
          width: 60px;
          border-radius: 999px;
          border: 1px solid;
          cursor: pointer;
          
          &:hover {
            transform: scale(1.04);
            border: 1.5px solid;
          }
        }
      }
    }
  }
  
}

.yt-player-container {
  width: 640px;
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  flex: 1;
  padding-top: 1em;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 4px darkgray;
}
