
<div class="search-bar">
    <input type="text" placeholder="Search" [(ngModel)]="searchText">
    <button (click)="searchPlaylists()">Search</button>
</div>

<div class="search-results">
    <div *ngFor="let playlist of playlists">
        <playlist-search-result
            (click)="loadPlaylist(playlist)"
            [playlistMetadata]="playlist"
        ></playlist-search-result>
        <!-- TODO: Implement icons properly -->
        <i class="fas fa-trash delete-icon" (click)="deletePlaylist(playlist)"></i>
    </div>
</div>
