.playlist-item {
    padding: .618em; // TODO: Use the standardized padding class for this.
    display: flex;
    flex-direction: row;
}

.playlist-image {
    margin-right: .382em; // TODO: Use the standardized margin class for this
}

.playlist-text-container {
    height: 100%;
}

.playlist-primary-text {
    margin: 0;
    margin-bottom: .236em;
    text-align: left;
    font-size: x-large; // TODO: Use the standardized text class for this
}

.playlist-secondary-text {
    height: 60%;
    margin: 0;
    text-align: left;
    overflow: hidden;
    // TODO: Add elipsis on shortened text.
    // font-size: Use the standardized text class
}