.playlist-item {
    height: 8em;
    display: flex;
    flex-direction: row;
}

.playlist-image {
    border-radius: 1em;
}

.playlist-text-container {
    height: 100%;
}

.playlist-primary-text {
    text-align: left;
    font-size: x-large; // TODO: Use the standardized text class for this
}

.playlist-secondary-text {
    height: 45%;
    text-align: left;
    overflow: hidden;
    // TODO: Add elipsis on shortened text.
    // font-size: Use the standardized text class
}